@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Lato&family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    min-width: 690px;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    width: 100wv;
    height: 100%;
    color: #eee;
    background: #121212;
}

body a {
    color: #809fff;
}

header {
    width: 100wv;
    display: flex;
    flex: 1;
    background-color: rgb(36, 39, 40);
}

img {
    width: 3.5em;
    height: 3.5em;
    margin-left: 1.25vw;
}

div {
    display: flex;
    flex-direction: column;
}

#title {
    padding-left: 5vw;
    padding-top: 0.3vw;
    padding-bottom: 1vw;
    flex: 3
}

#tech {
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Lato', sans-serif;
    padding-left: 2vw;
}

footer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;

}

#root {
    flex-direction: row;
    flex: 7;
}

.jc {
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#gray_circle {
    /* margin-left: 4vw; */
    background-color: rgb(36, 39, 40);
    width: 70vh;
    height: 70vh;
    border-radius: 35vh;
    margin-left: 2vw;

}

#circuit_circle {
    background-color: #1d7d36;
    overflow: hidden;
    width: 62vh;
    height: 62vh;
    border-radius: 31vh;
    position: relative;
}

#proc {
    background-color: #1a1919;
    width: 15vh;
    height: 55vh;
    border-radius: 7px;
    position: relative;
}

#indent {
    background-color: #fff;
    opacity: 0.05;
    position: absolute;
    top: 0;
    width: 5.5vh;
    height: 3.4vh;
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.pin_container {
    flex: 1;
    width: 1vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55vh;
}

#left_pins {
    left: -1.23vh;
}

#left_pins>div {
    border-top-left-radius: 0.2vw;
    border-bottom-left-radius: 0.2vw;
}

#right_pins {
    right: -1.23vh;
}

#right_pins>div {
    justify-content: right;
    justify-items: right;
    align-self: flex-end;
    border-top-right-radius: 0.2vw;
    border-bottom-right-radius: 0.2vw;
}

.pin {
    display: flex;
    width: 1.43vh;

    height: 1.6vh;
    background-color: silver;
    z-index: 1;
}

#p_text {
    transform: rotate(-90deg);
    color: rgb(70, 70, 70);
    font-weight: 600;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 2px;
}

.circuit {
    background-color: #b3a529;
    height: 1.6vh;
    width: 40vh;
    position: absolute;
    z-index: 0;

}

#left_pins>.pin>.circuit {
    left: -40vh;
}

#right_pins>.pin>.circuit {
    right: -40vh;
}

.window_container {
    flex: 1;
    margin: 1em 2em;
    border: 2px solid rgb(70, 70, 70);
    position: relative;
    background-color: black;

    font-family: 'Lato', sans-serif;
}


.window_header {
    background-color: rgb(36, 39, 40);
    flex-direction: row;
}

.window_header>p {
    padding: 0.4em;
    padding-left: 0.8em;
}

#input_container {
    flex: 0;
}

input {
    background-color: black;
    border: none;
    color: white;
    flex: 1;
    font-size: inherit;
    text-transform: uppercase;
}

input:focus {
    outline: none;
}

#input_div {
    background-color: black;
    padding: 1em;
    font-size: large;
}

#gt {
    margin-right: 1em;
    font-weight: 900;
    font-size: 1.25em;
}

.row {
    flex: 0;
    flex-direction: row;
}

.row>div {
    flex: 1;
}

#mreg {
    flex: 1;
    margin: 1em;
    /* width: 8em; */
    font-size: 1.25em;
}

.sa {
    justify-content: space-around;
}

#mreg>div>div {
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#mreg>div>div:first-child {
    margin-right: 1em;
}
#registers_container {
    flex-grow: 1;
}
.f1 {
    display: flex;
    flex: 1;
}
#main_input{
    text-transform: uppercase;
}
#mem{
    margin: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#staque{
    height: 100%;
}
.m{
    font-size: 1.25em;
    margin: 0.25em;
}
p{
    text-transform: uppercase;
}
.x{
    flex:1;
    text-transform: uppercase;

}